@mixin box-shadow($level: 1) {
  @if $level == 1 {
    box-shadow: 0 10px 10px rgba(0,0,0,.08);
  }

  @else if $level == 2 {
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
  }

  @else if $level == 3 {
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
  }

  @else if $level == 'deep' {
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
  }
}
