<footer class="footer">
  <div class="footer__container">
    <nav class="footer__nav">
      <ul>
        <li class="footer__nav-list-item"><%= link_to "Download", "#", class: "footer__link" %></li>
        <li class="footer__nav-list-item"><%= link_to "Github", "#", target: "_blank", class: "footer__link" %></li>
      </ul>
    </nav>
    <%= link_to "Made by Samuel Lie", "#", target: "_blank", class: "footer__link footer__link--credit" %>
  </div>
</footer>
