.footer {
  background-color: $dark-blue;
  background: linear-gradient(to bottom, $blue 0%, $dark-blue 100%);
}

.footer__container {
  @include container;
  padding: $base-spacing;
  text-align: center;
}

.footer__nav {
  margin-bottom: $base-spacing;

  @include breakpoint($medium-screen) {
    float: left;
    margin-bottom: 0;
  }
}

.footer__nav-list-item {
  display: inline-block;
  margin-right: $base-spacing;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: shade(white, 10%);
  }
}

.footer__link--credit {
  opacity: 0.75;

  @include breakpoint($medium-screen) {
    float: right;
  }
}
